@import "../settings/mixins"

body 
  @include margin(0, 0, 0, 0)
  @include padding(0, 0, 0, 0)
  @include font-normal()
  background-color: $pumpkin-orange

table
  @include margin(0, 0, 0, 0)
  @include padding(0, 0, 0, 0)

img
  display: block

a
  color: $greyish-brown
  line-height: 28px
  -webkit-text-size-adjust: none

p
  @include padding(0, 0, 0, 0)
  @include margin(0, 0, 0, 0)
  -webkit-text-size-adjust: none

table.main
  @include margin(auto, auto, auto, auto)
  @include padding(0, 0, 0, 0)
  width: 95%
  text-align: left

.wide 
  width: 100%

.header
  @include padding(30px, 0, 24px, 0)
  text-align: center

.logo
  font-size: 0
  line-height: 0
  -webkit-text-size-adjust: none
  display: inline-block

table.content
  background-color: $white
  th
    @include padding(48px, 20px, 30px, 20px)
  td
    @include padding(0, 20px, 0, 20px)
  p
    @include margin(0, 0, 35px, 0)
    line-height: 28px
    color: $greyish-brown
    font-size: 18px
    font-family: Helvetica, Arial, sans-serif

h1
  text-align: left
  margin-bottom: 30px
  font-size: 40px
  line-height: 48px
  font-family: Helvetica, Arial, sans-serif
  font-weight: 700
  @include margin(0, 0, 0, 0)

.btn
  @include padding(0, 50px, 0, 50px)
  font-family: Helvetica, Arial, sans-serif
  color: $white
  font-size: 14px
  line-height: 50px
  text-decoration: none
  white-space: nowrap
  text-transform: uppercase
  background-color: $pumpkin-orange
  display: inline-block
  border-radius: 25px
  font-weight: 700

table.best
  background-color: $white
  width: 100%
  th
    @include padding(48px, 20px, 30px, 20px)
  td
    @include padding(0, 20px, 0, 20px)
  h2
    color: #111111
    font-family: Helvetica, Arial, sans-serif
    font-size: 30px
    font-weight: 700
    line-height: 36px
    @include margin(0, 0, 0, 0)
  h3
    color: #111111
    font-family: Helvetica, Arial, sans-serif
    font-size: 16px
    font-weight: 700
    line-height: 22px
    @include margin(0, 0, 5px, 0)
  p
    @include margin(0, 0, 35px, 0)
    line-height: 18px
    color: $greyish-brown
    font-size: 14px
    font-family: Helvetica, Arial, sans-serif
  .arcticle_img
    padding-bottom: 10px

.footer
  background-color: $black
  color: $grey
  font-size: 14px
  line-height: 30px

.copyright
  @include padding(55px, 0, 55px, 20px)

table.social
  width: 100%
  min-width: 100%
  padding-right: 20px
  th
    width: 100%
  th:first-of-type
    text-align: right
    padding-right: 5px
  a 
    font-size: 0
    line-height: 0
    @include padding(22px, 5px, 22px, 0) //looks stupid
    display: inline-block

.unsubscribe
  td
    @include padding(30px, 0, 30px, 0)
    text-align: center
    color: $white
    p
      line-height: 18px
      font-size: 14px
    a
      color: $white
      line-height: 18px

@media (min-width: 420px) 
  table.content
    th
      @include padding(48px, 40px, 30px, 40px)
    td
      @include padding(0, 40px, 0, 40px)
  .copyright
    @include padding(55px, 0, 55px, 54px)
  table.best
    th
      @include padding(48px, 40px, 30px, 40px)
    td
      @include padding(0, 40px, 0, 40px)
    .arcticle_img, .arcticle_text
      display: inline-block
      width: 48%
    .arcticle_text
      float: right
      padding-left: 10px
  table.social
    padding-right: 40px
    th:first-of-type
      padding-right: 19px
    a
      @include padding(22px, 26px, 22px, 0) //looks stupid
    th:last-of-type
      a
        @include padding(22px, 0, 22px, 0) 